<div class="container py-5 px-3">
    <form action="/user/verifyEmail" method="post">
        {{#if message}}
          <p class="text-danger display-7 text-center">{{message}}</p>
        {{/if}}
        <div class="form-group">
            <label class="h5" for="otp">Enter your email.</label>
            <input class="form-control form-control-lg" id='email' name='email' type="email">
        </div>
        <button type="submit" class="btn btn-primary mx-auto d-block">Submit</button>
    </form>
</div>