<div class="container py-5 px-3">
    <form action="/user/otpConfirmPassword" method="post">
        {{#if message}}
          <p class="text-danger display-7 text-center">{{message}}</p>
        {{/if}}
        <div class="form-group">
            <label class="h5" for="otp">Enter the OTP code sended to your email.</label>
            <input class="form-control form-control-lg" id='otp' name='otp' type="text" placeholder="OTP Code">
        </div>
        <input type="hidden" name='username' value="{{username}}"/>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" aria-describedby="Password">
        </div>
        <div class="form-group">
            <label for="password_repeat">Password Repeat</label>
            <input type="password" class="form-control" name="password_repeat" id="password_repeat" aria-describedby="Password Repeat">
        </div>
        <button type="submit" class="btn btn-primary mx-auto d-block">Submit</button>
    </form>

    <br>
    <form action="/user/resentotp" method="post">
        <input type="hidden" name='username' value="{{username}}"/>
        <button type="submit" class="btn btn-danger mx-auto d-block">Resend OTP code</button>
    </form>
</div>