{{#section 'js'}}


<script>

    $('#btn-delete').on('click', function (e) {
        const frmAction = $('#btn-delete').attr("formaction");
        $('#frmEditTag').attr("action", frmAction);
        $('#frmEditTag').submit();
    })

    $('#btn-save').on('click', function (e) {
        
         const tag_name = $('#tag_name').val();
        if (tag_name.length === 0) {
            alert('Tên nhãn không được rỗng !!!');
            return;
        }

    
         $.getJSON(`/admin/is-tag-available?tag_name=${tag_name}`, function (data) {
            if (data === false) {
                alert('Tên nhãn đã tồn tại !!!');
            }
            else {
                const frmAction = $('#btn-save').attr("formaction");
                $('#frmEditTag').attr("action", frmAction);
                $('#frmEditTag').submit();
            }
        })

    })


</script>
{{/section}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card border-dark">
                <div class="card-header bg-dark text-white d-flex justify-content-between">
                    <h4><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Chỉnh sửa nhãn</h4>
                </div>
                <div class="card-body">
                    <form id="frmEditTag" method="POST" >
                        <div class="form-group">
                            <label for="id"> <strong>ID</strong> </label>
                            <input type="text" disabled class="form-control" id="id" name="id"
                                value="{{tagDetail.id}}">
                        </div>
                        
                            <div class=" form-group">
                                <label for="tag_name"><strong>Tên nhãn</strong></label>
                                <input type="text" class="form-control" id="tag_name" name="tag_name"
                                    value="{{tagDetail.tag_name}}" autofocus>
                            </div>
        
                            

                        <div class="mt-3">

                            <a class="btn btn-primary" href="/admin" role="button">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                Quay lại
                            </a>
                                               
                            <button id="btn-delete" type="button" class="btn btn-danger" formaction="/admin/tags/del?id={{tagDetail.id}}">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Xoá
                            </button>
                            
                            <button id="btn-save" type="button" class="btn btn-success" formaction="/admin/tags/patch?id={{tagDetail.id}}">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Lưu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>